.bank_bg{
    position: relative;
}

.bank_form{
    position: absolute;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(35, 35, 35, 0.667);
    padding: 2%;
    color: white;
    top: 22%;
    left:5%
   
}

form input{
    margin-top: 10px;
}

form > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otp{
    position: absolute;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(35, 35, 35, 0.667);
    padding: 2%;
    color: white;
    top: 70%;
    left:5%
   
}
